.detailBody > p {
  line-height: 2;
  margin-block: 1.25rem;
}

.detailBody h1,
.detailBody h2,
.detailBody h3,
.detailBody h4,
.detailBody h5,
.detailBody h6 {
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 2em;
}

.detailBody figure {
  margin-bottom: 1rem;
}

.detailBody h1 {
  font-size: 1.75rem;
}

.detailBody h2 {
  font-size: 1.5rem;
}

.detailBody h3 {
  font-size: 1.25rem;
}

.detailBody h4 {
  font-size: 1.125rem;
}

.detailBody h5 {
  font-size: 1rem;
  position: relative;
  padding: 0.5rem 0;
}

.detailBody h5::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20%;
  height: 3px;
  content: "";
  background-color: currentColor;
}

.detailBody h6 {
  font-size: 0.95rem;
  padding: 0.5rem 0;
}

.detailBody blockquote {
  max-width: 100%;
  margin-block: 1rem;
  padding: 1.5rem 1rem 1.5rem 2rem;
  position: relative;
  z-index: 1;
}

.detailBody blockquote:has(cite) {
  padding-bottom: 1rem;
}

.detailBody blockquote p {
  margin-top: 0;
}

.detailBody blockquote cite {
  display: block;
  font-size: 0.75rem;
  text-align: right;
}

.detailBody ul {
  list-style-type: disc;
}

.detailBody ol {
  list-style-type: decimal;
}

.detailBody ul li,
.detailBody ol li {
  margin: 0.25rem 0;
  margin-left: 1.5rem;
}

.detailBody ul ul,
.detailBody ul ol,
.detailBody ol ul,
.detailBody ol ol {
  margin: 0;
  padding: 0;
}

.detailBody .wp-block-gallery ul {
  padding-left: 0;
}

.detailBody table {
  margin-bottom: 1.25rem;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
}

.detailBody table th,
.detailBody table td {
  position: relative;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.detailBody table:not(.has-border-color) :where(th, td) {
  border: 1px solid var(--tn-color-gray-medium);
}

.detailBody > dl {
  display: block;
}

.detailBody > dl dt,
.detailBody > dl dd {
  width: 100%;
  padding-block: 0.75rem;
}

.detailBody address > p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.detailBody > cite,
.detailBody p > cite {
  font-size: 0.75rem;
  text-align: right;
}

.detailBody > code,
.detailBody p > code {
  border-radius: 4px;
  font-size: 0.85rem;
  padding: 0.25rem;
  background-color: #f5f5f5;
}

.detailBody > pre,
.detailBody p > pre {
  border-radius: 4px;
  padding: 1rem;
  overflow: auto;
  line-height: 1.5;
  max-height: 40vh;
  margin-block: 1.25rem;
  background-color: #f8f8f8;
  font-size: 0.9rem;
}

.detailBody iframe {
  max-width: 100%;
}

/*  PCサイズ（768px〜） */
@media (min-width: 768px) {
  .detailBody h1 {
    font-size: 2.5rem;
  }

  .detailBody h2 {
    font-size: 2.25rem;
  }

  .detailBody h3 {
    font-size: 2rem;
  }

  .detailBody h4 {
    font-size: 1.75rem;
  }

  .detailBody h5 {
    font-size: 1.5rem;
  }

  .detailBody h6 {
    font-size: 1.25rem;
  }

  .detailBody > dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .detailBody > dl dt {
    width: 22%;
    padding-inline: 0.5rem 0;
  }

  .detailBody > dl dd {
    width: 78%;
    padding-inline: 1rem 0.5rem;
  }

  .detailBody blockquote {
    padding: 2rem 2.5rem 2rem 3.5rem;
  }

  .detailBody blockquote cite {
    font-size: 0.8rem;
  }

  .detailBody table th,
  .detailBody table td {
    font-size: 1rem;
  }
}
