 @tailwind base;
 @tailwind components;
 @tailwind utilities;


 :root {
   --tn-color-black: #1E2227;
   --tn-color-primary: #0A77F4;
   --tn-color-primary-hover: #0c6cda;
   --tn-color-theme: #F1F7FF;
   --tn-color-gray: #F9F9F9;
   --tn-color-gray-medium: #EEEEEE;
   --tn-color-white: #fff;

   --tn-bg-primary: var(--tn-color-primary);
   --tn-bg-primary-hover: var(--tn-color-primary-hover);
   --tn-bg-theme: var(--tn-color-theme);
   --tn-bg-gray: var(--tn-color-gray);
   --tn-bg-gray-medium: var(--tn-color-gray-medium);

   --tn-btn-primary: var(--tn-color-primary);
   --tn-btn-white: var(--tn-color-white);

   --tn-border-primary: var(--tn-color-primary);
   --tn-border-white: var(--tn-color-white);
   --tn-border-gray: #D9D9D9;
 }

a {
  transition: .3s;
}
a:hover{
  opacity: .7;
}

 .btn-arrow-white>span {
   padding-right: 1.6875rem;
   display: inline-block;
   position: relative;
   z-index: 1;
 }

 .btn-arrow-white>span::after {
   content: '';
   position: absolute;
   top: 50%;
   right: 0;
   translate: 0 -50%;
   width: 1rem;
   height: 1rem;
   background: url(/arrow-right-white.svg) no-repeat center / contain;
   transition: translate .3s;
 }

 .btn-arrow-white:hover>span::after {
   translate: 25% -50%;
 }

 .btn-arrow-primary>span {
   padding-right: 1.6875rem;
   display: inline-block;
   position: relative;
   z-index: 1;
 }

 .btn-arrow-primary>span::after {
   content: '';
   position: absolute;
   top: 50%;
   right: 0;
   translate: 0 -50%;
   width: 1rem;
   height: 1rem;
   background: url(/arrow-right-primary.svg) no-repeat center / contain;
   transition: translate .3s;
 }

 .btn-arrow-primary:hover>span::after {
   translate: 25% -50%;
 }

 .btn-window-primary>span {
   padding-right: 2rem;
   display: inline-block;
   position: relative;
   z-index: 1;
 }

 .btn-window-primary>span::after {
   content: '';
   position: absolute;
   top: 50%;
   right: 0;
   translate: 0 -50%;
   width: 1rem;
   height: 1rem;
   background: url(/icon-window-primary.svg) no-repeat center / contain;
 }
 .btn-window-white>span {
   padding-right: 2rem;
   display: inline-block;
   position: relative;
   z-index: 1;
 }

 .btn-window-white>span::after {
   content: '';
   position: absolute;
   top: 50%;
   right: 0;
   translate: 0 -50%;
   width: 1rem;
   height: 1rem;
   background: url(/icon-window-white.svg) no-repeat center / contain;
 }

