.breadcrumb {
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    gap: 2em;
}

.breadcrumb li {
    text-wrap: nowrap;
}

.breadcrumb li:not(:last-child) {
    position: relative;
    z-index: 1;
}

.breadcrumb li:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 1em;
    background-color: var(--tn-color-black);
    position: absolute;
    z-index: 1;
    right: -1em;
    top: 50%;
    translate: -50% -50%;
    rotate: 15deg;
}

.breadcrumb li:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
}